<h1>Listing timetables</h1>

<table>
  <thead>
    <tr>
      <th>T1</th>
      <th>T2</th>
      <th>T3</th>
      <th>T4</th>
      <th>T5</th>
      <th>T6</th>
      <th>T7</th>
      <th>T8</th>
      <th>T9</th>
      <th>T10</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.t1 %></td>
        <td><%= timetable.t2 %></td>
        <td><%= timetable.t3 %></td>
        <td><%= timetable.t4 %></td>
        <td><%= timetable.t5 %></td>
        <td><%= timetable.t6 %></td>
        <td><%= timetable.t7 %></td>
        <td><%= timetable.t8 %></td>
        <td><%= timetable.t9 %></td>
        <td><%= timetable.t10 %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
