<p id="notice"><%= notice %></p>

<p>
  <strong>T1:</strong>
  <%= @timetable.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @timetable.t2 %>
</p>

<p>
  <strong>T3:</strong>
  <%= @timetable.t3 %>
</p>

<p>
  <strong>T4:</strong>
  <%= @timetable.t4 %>
</p>

<p>
  <strong>T5:</strong>
  <%= @timetable.t5 %>
</p>

<p>
  <strong>T6:</strong>
  <%= @timetable.t6 %>
</p>

<p>
  <strong>T7:</strong>
  <%= @timetable.t7 %>
</p>

<p>
  <strong>T8:</strong>
  <%= @timetable.t8 %>
</p>

<p>
  <strong>T9:</strong>
  <%= @timetable.t9 %>
</p>

<p>
  <strong>T10:</strong>
  <%= @timetable.t10 %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
