<div class="col-xs-6 col-md-4">
              <h3>搜索专家</h3>
              <%= search_form_for @q do |f| %>
                 <fieldset>
                 <div class="form-group">
                    <%= f.label "仪器名称",{ class: "control-label col-md-3" } %>
                    <div class="col-md-8">
                      <%= f.text_field :name_cont,{ class: "form-control" } %>
                    </div>
                 </div>   
                 <div class="form-group">
                    <%= f.label "仪器分类",{ class: "control-label col-md-3" } %>
                    <div class="col-md-8">
                      <%= f.text_field :name_cont,{ class: "form-control" } %>
                    </div>
                 </div>   
                 <div class="form-group">
                    <%= f.label "所属单位",{ class: "control-label col-md-3" } %>
                    <div class="col-md-8">
                      <%= f.text_field :name_cont,{ class: "form-control" } %>
                    </div>
                 </div>   
                 <div class="form-group">
                  <div class="col-sm-offset-6 col-sm-10" style="margin-top: 30px;">
                    <%= f.submit "查询",{type: "button",class: "btn btn-primary"} %>
                  </div>  
                 </div>
                 </fieldset>   
              <% end %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">仪器名称</th>
      <th class="text-center">所属单位</th>
      <th class="text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @experts.each do |expert| %>
      <tr>
        <td class="text-center"><%= expert.name %></td>
        <td class="text-center"><%= expert.id %></td>
        <td class="text-center">
            <%= link_to '预约专家', expert,{class: "btn btn-primary",style: "margin-left: 10px;" }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

