<h1>商品信息</h1>
仪器名称<%=@reservation.instrument.name%><br>
仪器价格<%=@reservation.instrument.name%><br>
仪器详情<%=@reservation.instrument.name%><br>
<%= render 'form' %>

<%= link_to 'Back', reservations_path %>
