<p id="notice"><%= notice %></p>

<p>
  <strong>Ser number:</strong>
  <%= @reservation.ser_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @reservation.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
