<div class="col-md-10 col-sm-offset-1">
 <%= form_for @instrument,url: admin_instruments_path,method: "post",class: "instrument form-horizontal"  do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation" class="col-md-offset-3">
      <h2>添加仪器时出现<%= @instrument.errors.count %>个错误:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>仪器信息</h3>
  <div class="form-group">
    <%= f.label :name,"仪器名称",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :name,class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand,"仪器平牌",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :brand,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :producted_factory,"生产厂商",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :producted_factory,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :specification,"规格型号",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :specification,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :date_purchased,"购买日期",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :date_purchased,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :date_producted,"生产日期",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :date_producted,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :type_belongs_to,"仪器用途",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :type_belongs_to,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :unit_belongs_to,"所属单位",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :unit_belongs_to,class: "form-control"  %>
    </div>  
  </div>
    <div class="form-group">
    <%= f.label :adddress,"安置地点",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :adddress,class: "form-control"  %>
    </div>  
  </div>
    <div class="form-group">
    <%= f.label :price_once,"单价(小时)",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :price_once,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :description,"详情",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_area :description,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10" style="margin-top:60px;">
      <%= f.submit "确认",{class: "btn btn-primary",style: "width: 250px"} %>
    </div>  
  </div>
 <% end %>
</div> 
