<div class="col-md-10 col-sm-offset-1">
 <%= form_for(@instrument,{class: "instrument form-horizontal"}) do |f| %>
  <h3>仪器信息</h3>
  <div class="form-group">
    <%= f.label :name,"仪器名称",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :name,class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand,"仪器平牌",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :brand,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :producted_factory,"生产厂商",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :producted_factory,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :specification,"规格型号",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :specification,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :date_purchased,"购买日期",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :date_purchased,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :date_producted,"生产日期",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :date_producted,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :specification,"规格型号",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :specification,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :useage,"仪器用途",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :useage,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :unit_id,"所属单位",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :unit_id,class: "form-control"  %>
    </div>  
  </div>
    <div class="form-group">
    <%= f.label :address,"安置地点",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :address,class: "form-control"  %>
    </div>  
  </div>
    <div class="form-group">
    <%= f.label :price_once,"单价(小时)",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :price_once,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :description,"详情",class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_area :description,class: "form-control"  %>
    </div>  
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10" style="margin-top:60px;">
      <%= f.submit "确认",{class: "btn btn-primary",style: "width: 250px"} %>
    </div>  
  </div>
 <% end %>
</div> 
