<div class="col-md-12 col-md-offset-1">              
  <%= search_form_for @q,url: admin_instruments_path ,class: "form-inline" do |f| %>
  <h3 class="float-left margin-top-5">筛选仪器</h3>
  <div class="form-group">
    <%= f.label "仪器名称",{ class: "sr-only" } %>
     <div class="col-md-8">
    <%= f.text_field :name_cont,{ class: "form-control" } %>
    </div>
  </div>   
  <div class="form-group">
    <%= f.label "仪器分类",{ class: "sr-only" } %>
    <div class="col-md-8">
      <%= f.text_field :name_cont,{ class: "form-control" } %>
    </div>
  </div>   
  <div class="form-group">
    <%= f.label "所属单位",{ class: "sr-only" } %>
    <div class="col-md-8">
      <%= f.text_field :name_cont,{ class: "form-control" } %>
    </div>
  </div>   
  <div class="form-group">
    <%= f.submit "查询仪器",{class: "btn btn-primary"} %>
    <%= link_to '添加仪器', new_admin_instrument_path,class: "btn btn-success"%>
  </div>
  <% end %>
</div>
<div class="col-md-12">
<table class="table table-bordered instrument-list">
  <thead>
    <tr>
      <th class="text-center">仪器编号</th>
      <th class="text-center">仪器名称</th>
      <th class="text-center">生产厂家</th>
      <th class="text-center">规格型号</th>
      <th class="text-center">生产日期</th>
      <th class="text-center">购置日期</th>
      <th class="text-center">所属单位</th>
      <th class="text-center">购置价格</th>
      <th class="text-center">安置地点</th>
      <th class="text-center">日程管理</th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr class="instrument-status-<%=instrument.status%>">
        <td class="text-center"><%= instrument.id.to_s.rjust(5, '0') %></td>
        <td class="text-center"><%= link_to instrument.name,admin_instrument_path(instrument),
                                                                  class: "text-primary" %></td>
        <td class="text-center"><%= instrument.producted_factory %></td>
        <td class="text-center"><%= instrument.specification %></td>
        <td class="text-center"><%= instrument.date_producted.strftime("%Y-%m-%d") %></td>
        <td class="text-center"><%= instrument.date_purchased.strftime("%Y-%m-%d") %></td>        
        <td class="text-center"><%= instrument.unit_id %></td>
        <td class="text-center"><%= instrument.purchased_price %></td>        
        <td class="text-center"><%= instrument.address %></td>
        <td class="text-center"><%= link_to "日程表",schedule_admin_instrument_path(instrument),class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>