<h3>仪器占用时间表</h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default col-md-12" >
    <div class="panel-heading col-md-3">
      <h5 class="panel-title" style="float:left">
        <%= link_to "更新仪器日程表","#",class: "btn btn-default",
          "data-toggle" => "collapse","data-parent" => "#accordion",
          href: "#collapseOne" %>
      </h5>
    </div>
    <div id="collapseOne" class="panel-collapse collapse col-md-9" style="float:left">
      <div class="panel-body">
        <%= text_field_tag :schedule,nil,{class: "form-control col-md-4"}%> 
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered instrument-list">
  <thead>
    <tr>
      <th class="text-center">仪器编号</th>
      <th class="text-center">仪器名称</th>
      <th class="text-center">日期</th>
      <th class="text-center">状态</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @instrument.schedules.each do |schedule| %>
      <% schedule.timetables.each do |timetable| %>
       <tr >
        <td class="text-center"><%= timetable.schedule.instrument.id.to_s.rjust(5, '0') %></td>
        <td class="text-center"><%= link_to timetable.schedule.instrument.name,
            admin_instrument_path(timetable.schedule.instrument),class: "text-primary" %></td>
        <td class="text-center"><%=timetable.schedule.date.strftime("%Y-%m-%d")  %></td>
        <td class="text-center">
        	<%= timetable.schedule.start_time %>--<%timetable.schedule.endtime%>
        </td>
        <td>
            <%= link_to "修改","#",class: 'btn btn-default'  %>
            <%= link_to "删除","#",class: 'btn btn-default'  %>
        </td>
       </tr>
      <% end %> 
    <% end %>
  </tbody>
</table>