<div class="col-md-offset-2 col-md-8 reservation-confirm ">
    <h3>仪器信息</h3>
    <div class="col-md-6">
      <div class="col-md-4">仪器名称:</div><div class="col-md-8"><%=@instrument.name%></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">所有者:</div><div class="col-md-8"><%=@instrument.unit_belongs_to%></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">单价:</div><div class="col-md-8"><%=@instrument.price_once%></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">仪器详情:</div><div class="col-md-8"><%=@instrument.description%></div>
    </div> 
    <div class="col-md-6">
      <div class="col-md-4">购买日期:</div><div class="col-md-8"><%=@instrument.date_purchased %></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4"> 生产日期:</div><div class="col-md-8"><%=@instrument.date_producted%></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">单价:</div><div class="col-md-8"><%=@instrument.price_once%></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">品牌:</div><div class="col-md-8"><%=@instrument.brand %></div>
    </div>      
    <div class="col-md-6">
      <div class="col-md-4">用途:</div><div class="col-md-8"><%=@instrument.type_belongs_to  %></div>
    </div>
    <div class="col-md-12 col-md-offset-3 margin-top-5">
     <%= link_to '变更信息', edit_instrument_path(@instrument),{ class: "btn btn-primary",style: "margin-left: 10px;" } %>    
     <%= link_to '删除仪器', @instrument, method: :delete,data: { confirm: '确定要删除该仪器?' },class: "btn btn-danger"%>
     <%= link_to "fasf", edit_timetable_path(@timetable)%>
    </div>  
</div>