<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">仪器名称</th>
      <th class="text-center">所属单位</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td class="text-center"><%= instrument.name %></td>
        <td class="text-center"><%= instrument.description %></td>
        <td class="text-center">
            <%= link_to '仪器详情', instrument,{class: "btn btn-primary",style: "margin-left: 10px;" }%>
            <%= link_to '变更信息', edit_instrument_path(instrument),{ class: "btn btn-primary",style: "margin-left: 10px;" } %>
            <%= link_to '删除仪器', instrument, method: :delete,
                                   data: { confirm: 'Are you sure?' },class: "btn btn-primary"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
