<div>
  <legend>仪器详情</legend>
  <div class="col-md-6">
     仪器名称<%= @instrument.name %>
  </div>
  <div class="col-md-6">
     仪器介绍<%= @instrument.description  %>
  </div>
  <div class="col-md-6">
     购买日期<%= @instrument.date_purchased  %>
  </div>
  <div class="col-md-6">
     生产日期<%= @instrument.date_producted  %>
  </div>
  <div class="col-md-6">
     单价<%= @instrument.price_once  %>
  </div>
  <div class="col-md-6">
     品牌<%= @instrument.brand  %>
  </div>

  所属单位<%= @instrument.unit_belongs_to  %><br>
  用途<%= @instrument.type_belongs_to  %><br>
 <%= form_for(@reservation,url:new_instrument_reservation_path(@reservation)) do |f| %>
    <%= f.hidden_field :instrument_id,value: @instrument.id %>
    <%= f.fields_for :timetable do |timetable|%>
      <%= render "time_table", :f => timetable %>
    <% end %>
    <%= f.submit '预约仪器',class: "btn btn-default instrument_reservation" %>
 <% end %>
</div>